<!--8-->
<h1>Welcome to Skygear!</h1>
<h2>Skygear is australia's premier online marketplace for buying and selling pre-loved skydiving goods. <br> From complete rigs to jumpsuits, we offer a diverse range of items so you can find something you'll love. </h2> <br> 
<h3>Blue Skies & happy jumping! Yours sincerely, <br>
Dale Paulsen.</h3>
<p>Copyright 2019</p>

